{% extends "base.html" %}

{% block content %}
<section id="post" class="post hentry">
	<header>
		<h2 class="post-title" >{{ article.title }}</h2>
		{%include 'meta.html'%}
	</header>
	<div class="post-entry">
		{{ article.summary }}
		{% if article.publicidad %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- chinosoliard.com-2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7245715224659542"
     data-ad-slot="2069566594"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		{% endif %}
        	{{ article.content }}
		{% if article.publicidad %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- chinosoliard.com-3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7245715224659542"
     data-ad-slot="3546299790"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		{% endif %}
	</div><!-- /.entry-content -->        
</section>
{% endblock %}
