{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
 {% if articles %}
  {% for article in (articles_page.object_list if articles_page else articles) %}  
    <article class="post">
      <h2 class="title">~ $ cat <a href="{{ SITEURL }}/{{ article.url}}">{{ article.title }}</a></h2>
      {%include 'meta.html'%}

      <section class="post_content">
        {{ article.summary }}
        <a class="more" href="{{ SITEURL }}/{{ article.url }}">Read more...</a>
      </section>
    </article>
  {% endfor %}

	{% include 'pagination.html' %}

 {% endif %}
{% endblock %}
