{% extends "base.html" %}
{% block title %}{{ SITENAME }} - «{{ tag }}»{% endblock %}

{% block content %}
 <h2 class="page_title">$ grep -r Tags: blog/ |grep {{ tag }}</h2>
 {% if articles %}
        <table id="archives">
                <tbody>
                {% for article in articles %}
                        <tr>
                                <td id="archives"><a href="{{ SITEURL }}/{{ article.url}}">{{ article.url }}</a>:Tags: {% for tag in article.tags %}{%if loop.index > 1%} {%endif%}{{ tag }},{% endfor %} 
                        </tr>
                {% endfor %}
                </tbody>
        </table>

 {% endif %}
{% endblock %}

