{% block searchform %}
	<section id="widget-search" class="widget-wrapper widget_search">
		<form id="searchform" action="http://www.google.com/search" method="get">
			<input id="q" class="field" type="text" placeholder="Search Blog" name="q" ></input>
			<input id="ie" name="ie" type="hidden" value="utf-8" ></input>
			<input id="oe" name="oe" type="hidden" value="utf-8" ></input>
			<input id="channel" name="channel" type="hidden" value="suggest" ></input>
			<input id="searchsubmit" class="submit" type="submit" value="">
		</form>
	</section>
{% endblock %}
