{% block tagcloud %}
<section id="widget-tagcloud" class="widget-wrapper widget_archive">
	<div class="widget-title">
		Tagcloud
	</div>
	<div>
		<ul class="tagcloud">
    {% for tag in tag_cloud %}
        <li class="tag-{{ tag.1 }}">
            <a href="{{ SITEURL }}/{{ tag.0.url }}">
            {{ tag.0 }}
                {% if TAG_CLOUD_BADGE %}
                    <span class="badge">{{ tag.2 }}</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>		
	</div>
</section>
{% endblock %}
